* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span {
  color: hsl(240, 18%, 77%);
}

.App {
  font-family: "Inter", sans-serif;
  background-image: url(images/pattern-curve.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 30rem;
}

.slider {
  padding: 0 40px;
}

.container {
  min-height: 100vh;
  max-width: 1350px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 70px;
  font-size: 32px;
  background-image: url(images/pattern-bg.svg);
  background-repeat: no-repeat;
  background-position: right 15% bottom 51%;
}

.slideOne,
.slideTwo {
  display: flex;
  position: relative;
}

.slideTwo {
  display: none;
}

.testimonial {
  max-width: 635px;
  max-height: 220px;
  padding-top: 150px;
  margin-right: -7.5rem;
  background-image: url(images/pattern-quotes.svg);
  background-repeat: no-repeat;
  background-position: left 19% top 20%;
  background-size: 115px 98px;
  z-index: 9;
}

.photo {
  margin: 0 auto;
  padding-left: 55px;
  flex: 1;
}

.text {
  font-weight: 300;
  line-height: 45px;
  margin-bottom: 40px;
}

.name {
  font-size: 20px;
}

.portrait {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}
